<div id="sidebar">
	<div class="wrapper">
		<div class="nav">
		  <ul>
			<li><%= link_to 'My Account',account_path %></li>
			<li><%= link_to 'Update Password',account_password_path %></li>
			<li><%= link_to 'Billing',subscription_path %></li>
		  </ul>
		</div>
	</div>
</div>