<h1>Billing</h1>
<div class="main-content">
  <div class="header">&nbsp;</div>
  <div class="inner">
	<form action="#">
	<ul>
		<li class="empty">
			The billing process is disabled for the moment.
		</li>
	</ul>
	</form>
  </div>
</div>

<%= render 'users/sidebar' %>