<div class="intro">
  <div class="pitch">
	<h1>Sales Tracking Made Simple</h1>
  	<p>
		Zen is a simple tool to capture all sales opportunities and improve efficiency in everyday life.
	</p>
  </div>
  <div class="image">&nbsp;</div>
  <div class="register">
	No commitments, just the goods. <%= link_to 'Try free now', new_user_registration_path, :class => 'button' %>
  </div>
  <div class="final">
	<p>Zen is a easy to implement sales tracking solution, there is no software to install.</p>
  </div>
</div>
