<div class="intro">
  <div class="pitch">
	<h1>Gérez vos prospects.<br/>Simplement.</h1>
  	<p>
		Money est une solution de gestion de prospects facile et rapide à mettre en place, sans aucun logiciel à installer.<br/><br/>
		Money est une solution de gestion de prospects facile et rapide à mettre en place, sans aucun logiciel à installer.<br/><br/>
		Money est une solution de gestion de prospects facile et rapide à mettre en place, sans aucun logiciel à installer.<br/><br/>
		Money est une solution de gestion de prospects facile et rapide à mettre en place, sans aucun logiciel à installer.<br/><br/>
	</p>
  </div>
  <div class="image">&nbsp;</div>
  <div class="register">
	Aucun engagement, accès immédiat. <%= link_to 'Essayez gratuitement', new_user_registration_path, :class => 'button' %>
  </div>
  <div class="final">
	<p>Money est une solution de gestion de prospects facile et rapide à mettre en place, sans aucun logiciel à installer.</p>
  </div>
</div>
