<%= raw "<div class=\"alert notice\">#{notice}<a href=\"#\" data-dismiss=\"alert\" class=\"close\">&times;</a></div>" if notice %>
<%= raw "<div class=\"alert error\">#{alert}<a href=\"#\" data-dismiss=\"alert\" class=\"close\">&times;</a></div>" if alert %>